 <div class="foot">
        <div class="main clearfix">
            <div class="img">
                <img src="/static/img/bottomlogo.png" />
            </div>
            <ul class="clearfix">
                <li><a href="###">关于网云</a></li>
                <li><a href="###">用户协议</a></li>
                <li><a href="###">新手指南</a></li>
                <li><a href="###">帮助中心</a></li>
                <li class="lastli">
                <a href="http://www.chinavrpark.com/" target="_blank">chinavrpark</a>
                </li>
            </ul>
            <div class="code">
                <img src="/static/img/code.jpg" />
            </div>
            <div class="contact">
                <p>
                    <img src="/static/img/tel.png" />
                    <span>免费咨询电话：17605914399</span>
                </p>
                <p>
                    <img src="/static/img/mailbox.png" />
                    <span>nd@wangyun.com</span>
                </p>
            </div>
            <div class="clear"></div>
            <p class="end clearfix">
                <span class="befor">本站由</span>
                <span class="right">提供计算与安全服务</span>
                <span>备案号：京公网安备 110105000722 京ICP备05060933号</span>
            </p>
        </div>
    </div>