<!DOCTYPE html>
<html lang="zh-CN">
<head>
     <% include ../include/meta.html %>
</head>
<body>
    <div class="banner">
        <div class="main-top">
            <div class="top clearfix">
                <div class="img"><a href="index.html" title="网云"><img class="logo" src="/static/img/toplogo.png"></a></div>
                <ul class="top-nav clearfix">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="###">成功案例</a></li>
                    <li><a href="###">使用指南</a></li>
                </ul>
                <div class="search clearfix">
                    <input type="text" class="text" placeholder="输入需求关键字" />
                    <button class="find iconfont">&#xe601;</button>
                </div>
            </div>
        </div>
        <div class="banner-bg"></div>
        <div class="publish">
            <div class="demand kao">
                <a href="/publish/add/">免费发布需求</a>
            </div>
        </div>
        <div class="surface">
            <h2>VR优质产品服务，专业的服务咨询项目对接</h2>
            <p>发布需求，立享遍布全国的产品服务支持</p>
        </div>
    </div>
    <div class="productList product">
        <p class="text">VR行业里最优质的成功案例都在这里<span class="more"><a href="###">more > </a></span></p>
        <ul class="clearfix">
            <li class="noleft">
                <div class="imgandtext">
                    <img src="/static/img/test.jpg">
                    <p class="bottom">VR内容远程控制技术</p>
                </div>
                <p class="worthandtime clearfix">
                    <span class="worth">10000元起</span>
                    <span class="borwse">浏览：810</span>
                </p>
            </li>
            <li>
                <div class="imgandtext">
                    <img src="/static/img/test.jpg">
                    <p class="bottom">VR内容远程控制技术</p>
                </div>
                <p class="worthandtime clearfix">
                    <span class="worth">20000元起</span>
                    <span class="borwse">浏览：810</span>
                </p>
            </li>
            <li>
                <div class="imgandtext">
                    <img src="/static/img/test.jpg">
                    <p class="bottom">VR内容远程控制技术</p>
                </div>
                <p class="worthandtime clearfix">
                    <span class="worth">20000元起</span>
                    <span class="borwse">浏览：810</span>
                </p>
            </li>
            <li>
                <div class="imgandtext">
                    <img src="/static/img/test.jpg">
                    <p class="bottom">VR内容远程控制技术</p>
                </div>
                <p class="worthandtime clearfix">
                    <span class="worth">20000元起</span>
                    <span class="borwse">浏览：810</span>
                </p>
            </li>
            <li class="noleft">
                <div class="imgandtext">
                    <img src="/static/img/test.jpg">
                    <p class="bottom">VR内容远程控制技术</p>
                </div>
                <p class="worthandtime clearfix">
                    <span class="worth">20000元起</span>
                    <span class="borwse">浏览：810</span>
                </p>
            </li>
            <li>
                <div class="imgandtext">
                    <img src="/static/img/test.jpg">
                    <p class="bottom">VR内容远程控制技术</p>
                </div>
                <p class="worthandtime clearfix">
                    <span class="worth">20000元起</span>
                    <span class="borwse">浏览：810</span>
                </p>
            </li>
            <li>
                <div class="imgandtext">
                    <img src="/static/img/test.jpg">
                    <p class="bottom">VR内容远程控制技术</p>
                </div>
                <p class="worthandtime clearfix">
                    <span class="worth">20000元起</span>
                    <span class="borwse">浏览：810</span>
                </p>
            </li>
            <li>
                <div class="imgandtext">
                    <img src="/static/img/test.jpg">
                    <p class="bottom">VR内容远程控制技术</p>
                </div>
                <p class="worthandtime clearfix">
                    <span class="worth">20000元起</span>
                    <span class="borwse">浏览：810</span>
                </p>
            </li>
        </ul>
    </div>
    <div class="interestprotection">
        <div class="main clearfix">
            <ol>
                <li class="title">
                    <span class="iconfont"></span>人工审核所有产品及需求
                </li>
                <li class="guaranteeone">每一个发布的项目都必须通过平台的人工审核，确保项目靠谱真实，需求清晰。</li>
                <li class="guaranteetwo">每一位申请入驻的专家都必须满足平台的人才标准；3年及以上工作经验，至少2项作品案例，为满足条件但能力突出者需特殊申请。</li>
                <li>只有通过审核的专家，才可以在平台上申请项目。</li>
            </ol>
            <ol class="ol-center">
                <li class="title"><span class="iconfont"></span>为你做资金担保</li>
                <li class="guaranteeone">平台会为项目方和专家进行资金担保，保障双方的利益。</li>
                <li class="guaranteetwo">项目方支付项目款到平台后，专家才开始执行项目。</li>
                <li>专家交付项目、项目方确认验收后，平台才会将款项付给专家。</li>
            </ol>
            <ol>
                <li class="title"><span class="iconfont"></span>全程为你做专业监督</li>
                <li class="guaranteeone">在项目过程中，平台进行全程的专业监管，以保障项目顺利执行。</li>
                <li class="guaranteetwo">当双方遇到问题纠纷时，平台会全力协调处理。</li>
            </ol>
        </div>
    </div>
   <% include ../include/footer.html %>
</body>
</html>
