<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <% include ../include/meta.html %>
</head>
<body>
    <div class="container-s">
        <div class="main-top-publish">
            <div class="top clearfix">
                <h1><a href="index.html"><img class="logo" src="/static/img/publishlogo.png"></a></h1>
                <div class="find clearfix">
                    <i class="iconfont">&#xe601;</i>
                    <input type="text" class="condition" placeholder="输入需求关键字" />
                    <button class="determine">搜索</button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="main-nav">
            <div class="nav">
                <ul>
                    <li><a href="/">首页</a></li>
				    <li class="pitch-on"><a href="###">项目需求</a></li>
                </ul>
            </div>
        </div>
        <div class="main-success">
            <div class="main">
                <div class="response">
                    <p>需求提交成功，平台将会在第一时间发起人工审核！</p>
                    <p>网云平台提供优质的服务，审核通过后您将获得：</p>
                    <div class="ul-area">
                        <ul>
                            <li>专业的项目经理对接</li>
                            <li>提供优质的解决方案</li>
                            <li>网云平台已担保认证</li>
                        </ul>
                    </div>
                </div>
                <div class="btn-area">
                    <a class="back-h" href="/">返回首页</a>
                    <a href="javascript:window.location.href='about:blank';">关闭</a>
                </div>
            </div>
        </div>
    </div>
    <% include ../include/footer.html %>
</body>
</html>
